body{
    height: 100%;
    margin: 0;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

.user-info{
    font-weight: 100;
}

#quizForm {
    padding: 15 px;
    background-color:deepskyblue;
    margin-left: 30px;
    margin-right: 30px;
    
}

.user_information {
    background-color: antiquewhite;
}

.form-group {
    padding: 15px;
    margin-left: 5px;
    margin-right: 20px;
}

button{
    background-color: #00339A;
    color: white;
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
   
}

button:hover{
 background-color: #0036B1;
}

.requiredStar {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    color: red;
}

input[type="text"], input[type="email"] {
    width: 90%;
    box-sizing: border-box;
    position: relative;
}

#successMessage{
    color: green;
    margin-top: 20px;

}

#errorMessages{
    color: red;
    margin-top: 20px;
}

